<include file="public@head"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .td-head {
            font-weight: bold;
        }
    </style>
</head>
<body>
<form role="form" id="fm" class="form-horizontal"  enctype="multipart/form-data"  method="post" action="">
<div style="padding:18px 20px 2px 20px ">
    <table class="table table-bordered table-hover" style="text-align:center;margin-bottom:0">
        <tbody>

        <td class="td-head">上级地区</td>
        <td>
            <select class="form-control"  name="parentIndexCode">
                <volist name="select" id="v">
                   <option value='{$v.indexCode}'>{$v.name}</option>                             
                </volist>
            </select>
        </td>
        </tr>
        <td class="td-head">地区</td>
        <td><input name="name" type="text" class="form-control" style="width: 100%;" /></td>
        </tr>
        <td class="td-head">排序</td>
        <td>
            <input name="sort" type="text" class="form-control" style="width: 100%;" value="0"/>
        </td>
        </tr>
        </tbody>
    </table>
</div>
</form>
</body>
<include file="public@scripts"/>
<script src="__STATIC__/js/wind.js"></script>
<script>


</script>
</html>