<link rel="stylesheet" type="text/css" href="__PLUGIN_TMPL__/public/balabala/iview/styles/iview.css"/>
<link rel="stylesheet" type="text/css" href="__PLUGIN_TMPL__/public/balabala/iconfont.css"/>
<!--<link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_1119981_32t9vx0824n.css">-->
<link rel="stylesheet" type="text/css" href="__PLUGIN_TMPL__/public/balabala/chart.css"/>
<link rel="stylesheet" type="text/css" href="__PLUGIN_TMPL__/public/balabala/swiper.min.css"/>
<script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
<script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>
<script src="__PLUGIN_TMPL__/public/balabala/ajax.js"></script>
<script src="__PLUGIN_TMPL__/public/balabala/countUP.js"></script>
<script src="__PLUGIN_TMPL__/public/balabala/echarts.min.js"></script>
<script src="__PLUGIN_TMPL__/public/balabala/chart.js"></script>
<script src="__PLUGIN_TMPL__/public/balabala/swiper.js"></script>
<!--<script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script>-->
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->

