<li <?php if( $currentTab == 1 ) echo 'class="active"'; ?>><a href="{:cmf_plugin_url('Resource://index/index')}">区域信息</a></li>
<li <?php if( $currentTab == 2 ) echo 'class="active"'; ?>><a href="{:cmf_plugin_url('Resource://school/index')}">学校信息</a></li>
<li <?php if( $currentTab == 3 ) echo 'class="active"'; ?>><a href="{:cmf_plugin_url('Resource://camera/index')}">监控点</a></li>
<li <?php if( $currentTab == 4 ) echo 'class="active"'; ?>><a href="{:cmf_plugin_url('Resource://general/index')}">数据概况</a></li>